{% extends 'base.html' %}
{% block content %}

    <div class="container mb-4 p-4">
        <div class="media">
            <img class="rounded-circle account-img" alt="profile picture"
                 src="{{ url_for('static', filename='profile_pics/' + current_user.profile_pic_filename) }}">
            <div class="media-body">
                <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
                <p class="text-muted">
                    {{ current_user.position }} • <a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a>
                </p>


                <form method="POST" action="">
                    {{ bio_form.hidden_tag() }}

                    <div class="form-group w-75 float-left">
                        {% if bio_form.bio.errors %}
                            {{ bio_form.bio(placeholder=bio_form.bio.description, columns=150,
                            class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in bio_form.bio.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ bio_form.bio(placeholder=bio_form.bio.description, columns=150,
                            class="form-control") }}
                        {% endif %}
                    </div>

                    <fieldset class="form-group ml-4 float-left">
                        <div class="form-group">
                            {{ bio_form.submit(class="btn btn-outline-primary") }}
                        </div>
                    </fieldset>
                </form>

                <div style="clear: both;"></div>

                <form method="POST" action="" enctype="multipart/form-data">
                    {{ pfp_form.hidden_tag() }}

                    <div class="form-group w-75 float-left">
                        {{ pfp_form.picture(class="form-control-file") }}
                        {% if pfp_form.picture.errors %}
                            {% for error in pfp_form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <fieldset class="form-group ml-4 float-left">
                        <div class="form-group">
                            {{ pfp_form.submit(class="btn btn-outline-primary") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div class="container mb-4 p-4">
        <h2>Hours Summary</h2>
        <br>
        <table class="table text-center">
            <thead>
                <tr>
                    {% for hours_type in hours_types %}
                        <th scope="col">{{ hours_type }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for hours_type in hours_summary.keys() %}
                        <td>{{ hours_summary[hours_type] }} hrs</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="container mb-4 p-4">
        <h2>Recently Logged Hours</h2>
        <br>
        {% if interesting_hours %}

            {% for hours in interesting_hours %}

                <h5>{{ hours.duration }} hours for {{ hours.event.title }}</h5>
                <small class="text-muted m-3"><i class="fa-solid fa-list"></i> {{ hours.event.category }}</small><br>
                <small class="text-muted m-3"><i class="fa-solid fa-location-dot"></i> {{ hours.event.location }}</small><br>
                <small class="text-muted m-3">
                    <i class="fa-solid fa-calendar-days"></i> {{ hours.event.start_date|format_datetimes(hours.event.end_date) }}
                </small><br>

                <br>

                {% if hours.approved %}
                    <small class="alert alert-success m-3">
                        <i class="fa-solid fa-circle-check"></i> Approved
                    </small>
                {% else %}
                    <small class="alert alert-warning m-3">
                        <i class="fa-solid fa-circle-xmark"></i> Not Approved Yet
                    </small>
                {% endif %}

                <br><br>

            {% endfor %}

        {% else %}
            <p class="text-muted">No recently logged hours</p>
        {% endif %}
    </div>

{% endblock %}