{% extends 'base.html' %}
{% block content %}

    <div class="container mb-4 p-4">
        <p>Team 190 is a joint WPI and Mass Academy FIRST Robotics Competition team located at WPI in Worcester, MA.
            The team is one of the Original & Sustaining FIRST Robotics Competition teams. The team has participated in
            FIRST every year since 1992. </p>
        <p>Team 190 has a rich history of innovation, culture, and spirit that make our team unique. We welcome
            students from any school or home-school to join our team. Throughout the year, we travel to all different
            places from libraries and schools, to fairs and assisted living facilities, to showcase our team, talk
            about the importance of STEM, and bring robotics into the hands of many!</p>
    </div>

    <div class="container text-center mb-4 p-4">
        <img class="mb-4" src="{{ url_for('static', filename='images/Worlds2023.jpg') }}"
             alt="FRC World Championships 2023 team picture" style="width: 100%;">
        <i class="text-muted">FRC World Championships 2023, Houston TX.</i>
    </div>

{% endblock %}